@model PaginationViewModel


<h1>Paginations</h1>

<div class="d-flex justify-content-center mt-4">
    <nav aria-label="Page navigation example">
        <ul class="pagination">


            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-action="@Model.Action"
                       asp-controller="@Model.Controller"
                       asp-route-page="@(Model.CurrentPage - 1)"
                       asp-all-route-data="@Model.RouteParams"
                       asp-route-tagId="@Model.AuthorId"
                       asp-route-categoryId="@Model.GenreId">
                        Previous
                    </a>
                </li>
            }

            @for (var i = @Model.CurrentPage - @Model.LimitItem; i <= @Model.CurrentPage + @Model.LimitItem; i++)
            {
                if (i <= 0 || i > @Model.TotalPages)
                {
                    continue;
                }
                <li class="page-item @(i == Model.CurrentPage ? "active" : ' ')">
                    <a class="page-link"
                       asp-action="@Model.Action"
                       asp-controller="@Model.Controller"
                       asp-all-route-data="@Model.RouteParams"
                       asp-route-tagId="@Model.AuthorId"
                       asp-route-categoryId="@Model.GenreId"
                       asp-route-page="@i">
                        @i
                    </a>
                </li>
            }



            @if (Model.TotalPages > Model.CurrentPage)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-action="@Model.Action"
                       asp-controller="@Model.Controller"
                       asp-route-page="@(Model.CurrentPage + 1)"
                       asp-route-tagId="@Model.AuthorId"
                       asp-route-categoryId="@Model.GenreId"
                       asp-all-route-data="@Model.RouteParams">
                        Next
                    </a>
                </li>
            }

        </ul>
    </nav>
</div>